<div class="wrapper">
   <div class="row">
    <h1>Welcome on Mister Cocktail</h1>
  </div>

  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-md-4">
          <div class="card-cocktail">
            <%= link_to "", cocktail_path(cocktail) %>
            <%= cl_image_tag(cocktail.photo) %>
            <div class="card-cocktail-infos">
              <div>
                <h2><%= cocktail.name %></h2>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <br><br>
      <div class="text-center">
      <button class='btn btn-primary button'><%= link_to 'Create a new cocktail', new_cocktail_path %></button>
      </div>
      <br>
  </div>
</div>

